<template lang="pug">
  q-page.flex.flex-center
    q-card.card-filepicker
      q-card-section
        q-item.no-padding
          q-item-section
            q-input(v-model="text" label="Texto" filled)
          q-item-section
            q-input(label="Rotate" v-model="rotate" filled)
          q-item-section
            q-input(label="Tamanho" v-model="size" filled)
          q-item-section
            q-input(label="Opacidade" v-model="opacity" filled)
      q-card-section
        .append-files
          .row
            .col
              .file-area.cursor-pointer(:class="$q.dark.isActive ? 'bg-dark' : 'bg-grey-2'")
                q-file.relative-position.flex.flex-center(
                  ref="files"
                  v-model="file"
                  accept=".pdf"
                  hide-bottom-space
                  @input="addFiles()"
                  borderless)
                  q-item.full-width(@click.native="addFiles()" clickable)
                    q-item-section
                      .text-h6(:class="$q.dark.isActive ? 'text-grey-5' : 'text-grey'") Solte os documentos aqui ou clique para selecionar
          .q-mt-md
            q-card.q-my-sm(flat bordered v-for="(file, f) in selectedFiles" :key="f")
              q-card-section.no-padding
                q-item.q-pa-sm(clickable @click="previewItem(file)")
                  q-item-section(avatar)
                    q-avatar(icon="insert_drive_file")
                  q-item-section
                    q-item-label {{maxLength(file.name, 100)}}
                    q-item-label(caption) {{ Math.round(file.size / 1024) }}KB
                  q-item-section(side)
                    q-btn(flat round icon="delete" @click.stop="removeFile(f)")
      q-card-section(align="right")
        q-btn(flat label="Processar" @click="addData()")
    q-dialog(v-model="previewDialog" :maximized="fullScreen")
      q-card(:style="{ width: fullScreen ? '100vw' : '80vw' }")
        q-card-section.no-padding
          q-item(v-if="fileSelected")
            q-item-section
              q-item-label {{maxLength(fileSelected.name, 100)}}
              q-item-label(caption) {{fileSelected.type}} ({{ Math.round(fileSelected.size / 1024) }}KB)
            q-item-section(side)
              q-btn(flat round dense :icon="fullScreen ? 'close_fullscreen' : 'open_in_full'" @click="fullScreen = !fullScreen")
            q-item-section(side)
              q-btn(flat round dense icon="close" @click="previewDialog = false")
        q-separator
        q-card-section.no-padding
          .preview-file(
            v-if="fileSelected && fileSelected.type.includes('image')"
            :style="[{backgroundImage: 'url(' + fileSelected.preview +')'}, fullScreen ? { height: 'calc(100vh - 64px)' } : { height: '400px' }]")
          pdf(v-else-if="fileSelected && fileSelected.type.includes('pdf')"
            :src="fileSelected.preview"
            width="100%"
            :style="fullScreen ? { height: 'calc(100vh - 64px)' } : { height: '400px' }")
</template>

<script>
import { degrees, PDFDocument, rgb, StandardFonts } from 'pdf-lib'
import Pdf from '../components/Pdf'
import { exportFile } from 'quasar'
export default {
  name: 'PageIndex',
  components: {
    Pdf
  },
  data () {
    return {
      file: null,
      fileSelected: null,
      text: 'Apenas um texto de teste',
      selectedFiles: [],
      pdfs: [],
      previewDialog: false,
      fullScreen: false,
      rotate: 0,
      size: 10,
      opacity: 0.5
    }
  },
  methods: {
    previewItem (file) {
      console.log(file)
      this.fileSelected = file
      this.previewDialog = true
    },
    async addData () {
      let file = null
      for (file in this.selectedFiles) {
        const pdfBuffer = await fetch(this.selectedFiles[file].preview).then((res) => res.arrayBuffer())
        const pdfDoc = await PDFDocument.load(pdfBuffer)
        const helveticaFont = await pdfDoc.embedFont(StandardFonts.Helvetica)
        const pages = pdfDoc.getPages()
        let page = null
        for (page in pages) {
          // const { width, height } = pages[page].getSize()
          const str = this.text
          const fontSize = Number(this.size)
          pages[page].drawText(
            str,
            {
              x: 16,
              y: 8,
              size: fontSize,
              font: helveticaFont,
              opacity: Number(this.opacity),
              color: rgb(0.95, 0.1, 0.1),
              rotate: degrees(Number(this.rotate))
            }
          )
        }
        const pdfBytes = await pdfDoc.save()
        // this.pdfs.push({
        //   name: this.selectedFiles[file].name,
        //   bytes: pdfBytes
        // })
        exportFile(this.selectedFiles[file].name, pdfBytes)
        console.log(this.selectedFiles[file].name)
      }
    },
    maxLength (str, max = 50) {
      if (str.length >= max) {
        return str.substr(0, 5) + '...' + str.substr((str.length - 10), str.length)
      }
      return str
    },
    applyData () {
      console.log(this.file)
    },
    addFiles () {
      this.selectedFiles.push({
        name: this.file.name,
        preview: URL.createObjectURL(this.file),
        size: this.file.size,
        type: this.file.type,
        archive: this.file,
        category: null
      })
      this.file = null
    },
    openFiles () {
      this.$refs.files.pickFiles()
    },
    removeFile (index) {
      this.selectedFiles.splice(index, 1)
    }
  }
}
</script>
<style lang="stylus">
.card-filepicker
  min-width 50%
.file-area
  border-radius 4px
  border 1px solid #dedede
  min-height 100px
.file-area .q-field__control
  min-height 100px
.file-area .q-item
  min-height 100px
  position absolute
  z-index 0
.file-area .text-h6
  position absolute
  width 100%
  text-align center
  cursor pointer
.file-area .q-file__dnd
  border-radius 4px
  outline 2px dashed #999
  outline-offset -8px
.file-area .q-field__control-container{
  align-items center
  display flex
  flex-wrap wrap
}
.preview-file
  background-size contain
  background-position center
  background-repeat no-repeat
  height 400px
  width 100%

</style>
