<template lang="pug">
  iframe(:src="src" scrolling frameborder='0' marginwidth='0' marginheight='0')
</template>

<script>
export default {
  name: 'EssentialLink',
  props: {
    src: {
      type: String,
      required: true
    }
  }
}
</script>
<style lang="stylus" scoped>
iframe
  border none
  margin none
  &::-webkit-scrollbar
    width 8px
  &::-webkit-scrollbar-track
    background rgb(202, 202, 202)
  &::-webkit-scrollbar-thumb
    background rgba(0,0,0,0.3)
    &:hover
      background rgba(0,0,0,0.6)
</style>
