<template lang="pug">
  q-layout(view="lHh Lpr lFf")
    q-header(elevated)
      q-toolbar(:class="$q.dark.isActive ? 'bg-dark' : 'bg-primary'")
        q-toolbar-title PDF Modify
        q-btn(flat round :icon="$q.dark.isActive ? 'wb_sunny' : 'nights_stay'" @click="$q.dark.toggle()")
    q-page-container
      router-view
</template>
<script>
export default {
  name: 'MainLayout',
  data () {
    return {
    }
  },
  created () {
    this.$q.dark.set(true)
  }
}
</script>
